<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tutorns.com Learn - Earn in tutorns</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
 <div style="text-align: center; border: 2px solid #007bff; width:auto; height: auto; margin-left: 25%; margin-right: 25%; margin-top: 20%; margin-bottom: 25%;">
    <br/>
    <div style="font-family: 'Courier New', Courier, monospace; font-size: 120%;">
       Please! Login Or SignUp
   
    </div>
    <br/>    
   <a href="/"> <button class="btn btn-outline-primary btn-lg">Login</button>
   </a>
    <br/>
    <br/>
    
    <span style="font-size:130% ">----OR----</span>
    <br/>
    <br/>
    <a href="/register">
    <button class="btn btn-outline-secondary btn-lg">Signup</button>
    </a>
    <br/><br/>
 </div>   
</body>
</html>