.modalView::-webkit-scrollbar { width: 0 !important }

  
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 5px solid #2f353a;
  width: 100%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  /* float: left !important; */
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {   
  #transferModal {
    width: 100%; /* Full width */
  }
  td {
    max-width: 200px;
  }
}

td {
  max-width: 50px;
}
@media screen and (max-width: 990px) {   
  #transferModal {
    width: 80% !important; /* Full width */
  }
  td {
    max-width: 200px;
  }
}

td {
  max-width: 50px;
}
.tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 120px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;

/* Position the tooltip */
position: absolute;
z-index: 1;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}
.card-header-actions{
width: 25%
}

.search-input > input:focus {
outline: none;
padding-left: 10px
}
.search-input > input {
padding-left: 10px
}

@media only screen and (max-width: 600px) {
#transferModal {
  width: 90% !important
}
.table {
  width: 300% !important
}
.card-header-actions {
  width: 72% !important
}
}

